#la_photo img {
    max-width: 100%;
    height: auto;
}
/* Grille de la galerie */
#la_galerie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

/* Vignettes uniformes */
#la_galerie .vignette img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

